
<!DOCTYPE html>
<html>
<head>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='webkit' name='renderer'>
    <title>还会来-海外用车解决方案</title>
    <link href='http://www.haihuilai.com/assets/favicon-c3d09406d5a9441c5ec1b47f2dd7237988fc657ffdaf1fae6044641f38084950.ico' rel='shortcut icon' type='image/x-icon'>
    <meta content='还会来-海外用车解决方案' name='description'>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="0HuoUdMuAFiZsM1Inh+O2b54s1Yb8OOwzAHpV8gr37B5Lv1oH2hd01SyWN/eN+jIhBob44UNUDZ9ZPj69ynuew==" />
    <meta content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0' name='viewport'>
    <link rel="stylesheet" media="all" href="http://www.haihuilai.com/assets/application_v1-adf874db9058833e06365f979cc2c76f8c695ed7c54a04e2d83c52156f7c0116.css" />
    <script src="http://www.haihuilai.com/assets/application_v1-62a1b85b8c984affa828c1d13ec3bb7c1d04ebd36e56b38062b2cbff53293bf8.js"></script>
    <!--[if lte IE 8]>
    <link rel="stylesheet" media="screen" href="http://www.haihuilai.com/assets/qwb_ie-078a99e7ce5a02c4a83c3cdd482f7332dc68277b7ea95e9a082e2fb930245742.css" />
    <![endif]-->
    <script src="http://www.haihuilai.com/assets/baidu_js/pro_count-32f62ceb62c0ff06e68c58179f3f949367b6f2654925e300f2467b880e542cc4.js"></script>
</head>
<body class='hide-footer'>
    <header>
        <nav class='navbar qwb-share-header'>
            <div class='container'>
                <div class='hidden-xs navbar-header'>
                    <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collapse' type='button'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span class='qicon-logo'></span>
                    </a>
                </div>
                <div class='pull-right'>
                    <ul class='nav navbar-nav navigation_login_li'>
                        <li class='dropdown js-header-dropdown'>
                            <span aria-expanded='true' aria-haspopup='true' class='dropdown-toggle' data-toggle='dropdown' id='share-header-user' role='button' type='button'>
                                289505983@qq.com
                                <span class='caret'></span>
                            </span>
                            <ul aria-labelledby='share-header-user' class='dropdown-menu'>
                                <li>
                                    <a href="/bookings">
                                        <span class='qicon-list-menu-order'></span>
                                        订单管理
                                    </a>
                                </li>
                                <li>
                                    <a href="/transactions">
                                        <span class='qicon-list-menu-account'></span>
                                        资金账户
                                    </a>
                                </li>
                                <li>
                                    <a href="/employees">
                                        <span class='qicon-list-menu-employees'></span>
                                        子账户管理
                                    </a>
                                </li>
                                <li>
                                    <a href="/consumers/account">
                                        <span class='qicon-list-menu-information'></span>
                                        基本信息
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" data-method="delete" href="/users/sign_out">
                                        <span class='qicon-list-menu-cancellation-off'></span>
                                        注销
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <div class='consumer-index js-consumer-index'>
        <div class='cindex__search-box'>
            <div class='consumer-search-box js-search-box'>
                <div class='csbox__content search-box-content'>
                    <div class='row sbcontent__service js-search-service'>
                        <a class="col-md-6 col-xs-6 is-active" data-service="car" href="javascript:;">标准用车</a>
                        <a class="col-md-6 col-xs-6" data-service="airport" href="javascript:;">接送机</a>
                    </div>
                    <div class='js-search-service-item sbcontent__service-item is-active' data-service='car'>
                        <div class='row sbcontent__model js-search-model'>
                            <a class="col-md-6 col-xs-6 is-active" data-model="many-days" href="javascript:;">多地用车</a>
                            <a class="col-md-6 col-xs-6" data-model="one-area" href="javascript:;">一地用车</a>
                        </div>
                    </div>
                    <div class='js-search-service-item sbcontent__service-item' data-service='airport'>
                        <div class='row sbcontent__model js-search-model'>
                            <a class="col-md-6 col-xs-6" data-model="arrive" href="javascript:;">接机</a>
                            <a class="col-md-6 col-xs-6" data-model="leave" href="javascript:;">送机</a>
                        </div>
                    </div>
                    <div class='sbcontent__country js-select-country'>
                        <div aria-expanded='true' aria-haspopup='true' class='qwb-input dropdown-toggle' data-toggle='dropdown' id='search-country' type='button'>
                            <div>欧洲大陆</div>
                            <span class='qicon-select-icon'></span>
                        </div>
                        <ul aria-labelledby='search-country' class='dropdown-menu'>
                            <li>
                                <a class="is-active" data-id="961" data-block="false" href="javascript:;">欧洲大陆</a>
                            </li>
                            <li>
                                <a class="" data-id="2282" data-block="false" href="javascript:;">印尼</a>
                            </li>
                            <li>
                                <a class="" data-id="1953" data-block="true" href="javascript:;">韩国</a>
                            </li>
                            <li>
                                <a class="" data-id="2290" data-block="false" href="javascript:;">北美地区</a>
                            </li>
                            <li>
                                <a class="" data-id="1928" data-block="true" href="javascript:;">中国-港台</a>
                            </li>
                            <li>
                                <a class="" data-id="2198" data-block="true" href="javascript:;">亚洲大陆</a>
                            </li>
                            <li>
                                <a class="" data-id="2107" data-block="true" href="javascript:;">大洋洲</a>
                            </li>
                            <li>
                                <a class="" data-id="2018" data-block="true" href="javascript:;">日本</a>
                            </li>
                            <li>
                                <a class="" data-id="1793" data-block="true" href="javascript:;">欧洲非大陆</a>
                            </li>
                        </ul>
                    </div>

                    <div class='js-country-selected'>
                        <div class='sbcontent__form js-search-model-form is-active' data-model='many-days'>
                            <div class='search-locations-form'>
                                <form date-type="json" novalidate="novalidate" class="simple_form new_many_days_form" id="new_many_days_form" action="/car_models" accept-charset="UTF-8" data-remote="true" method="get">
                                    <input name="utf8" type="hidden" value="&#x2713;" /><input name='form_class' type='hidden' value='many_days_form'>
                                    <div class="form-group hidden many_days_form_car_category_id"><input value="" class="hidden car_category_id form-control" type="hidden" name="many_days_form[car_category_id]" id="many_days_form_car_category_id" /></div>
                                    <div class="form-group hidden many_days_form_model_id"><input value="" class="hidden model_id form-control" type="hidden" name="many_days_form[model_id]" id="many_days_form_model_id" /></div>
                                    <div class="form-group hidden many_days_form_driver_category_id"><input value="" class="hidden driver_category_id form-control" type="hidden" name="many_days_form[driver_category_id]" id="many_days_form_driver_category_id" /></div>
                                    <div class='qwb-search-location'>
                                        <div class='qslocation__title'>开始日期</div>
                                        <div class='qslocation__date'>
                                            <input class='js-many-days-from-date is-unlight' name='many_days_form[items][][date]' placeholder='请选择开始日期' readonly='readonly'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-datepicker-light'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='qwb-search-location'>
                                        <div class='qslocation__title'>开始城市</div>
                                        <div class='qslocation__name'>
                                            <input aria-expanded='false' class='is-unlight is-clear' data-toggle='dropdown' id='location_from' name='many_days_form[items][][location_name]' placeholder='请输入或选择开始城市'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-city'></span>
                                            </div>
                                            <input data-superior='' id='location_from_id' name='many_days_form[items][][location_id]' type='hidden'>
                                            <div aria-labelledby='location_from' class='js-location-picker qslocation__cities dropdown-menu'></div>
                                        </div>
                                    </div>
                                    <div class='sltrip__split'>行程（当天结束城市）</div>
                                    <div class='js-locations-list'></div>
                                    <div class='js-add-location qwb-button slform__add'>
                                        <span class='qicon-plus-trip'></span>
                                    </div>
                                    <button class='qwb-button sbcontent__submit' type='submit'>
                                        <span class='qicon-search'></span>
                                    </button>
                                </form>
                            </div>

                        </div>
                        <div class='sbcontent__form js-search-model-form' data-model='one-area'>
                            <div class='search-one-area js-search-one-area'>
                                <form date-type="json" novalidate="novalidate" class="simple_form new_one_area_form" id="new_one_area_form" action="/car_models" accept-charset="UTF-8" data-remote="true" method="get">
                                    <input name="utf8" type="hidden" value="&#x2713;" /><input name='form_class' type='hidden' value='one_area_form'>
                                    <div class="form-group hidden one_area_form_from_date"><input value="" class="hidden form-control" type="hidden" name="one_area_form[from_date]" id="one_area_form_from_date" /></div>
                                    <div class="form-group hidden one_area_form_to_date"><input value="" class="hidden form-control" type="hidden" name="one_area_form[to_date]" id="one_area_form_to_date" /></div>
                                    <div class="form-group hidden one_area_form_car_category_id"><input value="" class="hidden car_category_id form-control" type="hidden" name="one_area_form[car_category_id]" id="one_area_form_car_category_id" /></div>
                                    <div class="form-group hidden one_area_form_model_id"><input value="" class="hidden model_id form-control" type="hidden" name="one_area_form[model_id]" id="one_area_form_model_id" /></div>
                                    <div class="form-group hidden one_area_form_driver_category_id"><input value="" class="hidden driver_category_id form-control" type="hidden" name="one_area_form[driver_category_id]" id="one_area_form_driver_category_id" /></div>
                                    <div class='qwb-search-location'>
                                        <input class='is-unlight js-one-area-datepicker' name='days' placeholder='用车时间' readonly='readonly'>
                                        <span class='qicon-datepicker-light qslocation__date-icon'></span>
                                    </div>
                                    <div class='qwb-search-location'>
                                        <input aria-expanded='false' class='is-unlight is-clear' data-toggle='dropdown' id='location_one_area' name='one_area_form[location_name]' placeholder='用车城市'>
                                        <input class='is-unlight' data-superior='' id='location_one_area_id' name='one_area_form[location_id]' type='hidden'>
                                        <div aria-labelledby='location_one_area' class='dropdown-menu js-location-picker qslocation__cities'></div>
                                    </div>

                                    <button class='qwb-button sbcontent__submit' type='submit'>
                                        <span class='qicon-search'></span>
                                    </button>
                                </form>
                            </div>

                        </div>
                        <div class='sbcontent__form js-search-model-form' data-model='arrive'>
                            <div class='search-arrive'>
                                <form date-type="json" novalidate="novalidate" class="simple_form new_arrive_form" id="new_arrive_form" action="/car_models/airport" accept-charset="UTF-8" data-remote="true" method="get">
                                    <input name="utf8" type="hidden" value="&#x2713;" /><input name='form_class' type='hidden' value='arrive_form'>
                                    <div class="form-group hidden arrive_form_car_category_id"><input value="" class="hidden car_category_id form-control" type="hidden" name="arrive_form[car_category_id]" id="arrive_form_car_category_id" /></div>
                                    <div class='qwb-search-location'>
                                        <div class='qslocation__title'>降落城市</div>
                                        <div class='qslocation__name'>
                                            <input aria-expanded='false' class='is-unlight is-clear' data-toggle='dropdown' id='arrive_airport_location' name='arrive_form[location_id]' placeholder='请选择降落城市'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-city'></span>
                                            </div>
                                            <input id='arrive_airport_location_id' name='arrive_form[location_id]' type='hidden'>
                                            <div aria-labelledby='arrive_airport_location' class='js-location-picker qslocation__cities dropdown-menu'></div>
                                        </div>
                                    </div>
                                    <div class='js-location-airports js-arrive-location-airports' data-form='arrive_form' data-name='降落机场'></div>
                                    <div class='qwb-search-location'>
                                        <div class='qslocation__title'>接机日期</div>
                                        <div class='qslocation__date'>
                                            <input class='is-unlight js-airport-pickup-datepicker' name='arrive_form[date]' placeholder='接机日期'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-time'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='qwb-search-location'>
                                        <div class='qslocation__title'>送达地点</div>
                                        <div class='qslocation__name'>
                                            <input class='js-location-airport-addr is-unlight is-clear' name='arrive_form[addr]' placeholder='送达地点'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-location'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='js-search-error error_message'></div>
                                    <button class='qwb-button sbcontent__submit js-search-arrive-flight' type='submit'>
                                        <span class='qicon-search'></span>
                                    </button>
                                    <div class='js-arrive-info sbcontent__airport-info'></div>
                                </form>
                            </div>

                        </div>
                        <div class='sbcontent__form js-search-model-form' data-model='leave'>
                            <div class='search-leave'>
                                <form date-type="json" novalidate="novalidate" class="simple_form new_leave_form" id="new_leave_form" action="/car_models/airport" accept-charset="UTF-8" data-remote="true" method="get">
                                    <input name="utf8" type="hidden" value="&#x2713;" /><input name='form_class' type='hidden' value='leave_form'>
                                    <div class="form-group hidden leave_form_car_category_id"><input value="" class="hidden car_category_id form-control" type="hidden" name="leave_form[car_category_id]" id="leave_form_car_category_id" /></div>
                                    <div class='qwb-search-location'>
                                        <div class='qslocation__title'>送达城市</div>
                                        <div class='qslocation__name'>
                                            <input aria-expanded='false' class='is-unlight is-clear' data-toggle='dropdown' id='leave_airport_location' name='leave_form[location_id]' placeholder='请选择送达城市'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-city'></span>
                                            </div>
                                            <input id='leave_airport_location_id' name='leave_form[location_id]' type='hidden'>
                                            <div aria-labelledby='leave_airport_location' class='js-location-picker qslocation__cities dropdown-menu'></div>
                                        </div>
                                    </div>
                                    <div class='js-location-airports js-leave-location-airports' data-form='leave_form' data-name='送达机场'></div>
                                    <div class='qwb-search-location sarrive__date'>
                                        <div class='qslocation__title'>上车时间</div>
                                        <div class='qslocation__name'>
                                            <input class='is-unlight js-drop-off-datepicker' name='leave_form[date]' placeholder='上车时间'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-time'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='qwb-search-location'>
                                        <div class='qslocation__title'>上车地点</div>
                                        <div class='qslocation__name'>
                                            <input class='js-location-airport-addr is-unlight is-clear' name='leave_form[addr]' placeholder='上车地点'>
                                            <div class='qslocation__date-icon'>
                                                <span class='qicon-location'></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='js-search-error error_message'></div>
                                    <button class='qwb-button sbcontent__submit js-search-leave-flight' type='submit'>
                                        <span class='qicon-search'></span>
                                    </button>
                                    <div class='js-leave-info sbcontent__airport-info'></div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <img class="csresult__image hide" src="http://www.haihuilai.com/images/no_search.png" alt="No search" width="215" height="237" />
        <div class='cindex__search-res consumer-search-result js-search-result'>
            <img class="csresult__image" src="http://www.haihuilai.com/images/no_search.png" alt="No search" width="215" height="237" />
            <div class='js-qwb-loading qwb-loading'>
                <div class='qloading__cover'></div>
                <span class='qloading__hint'>
                    <img src="http://www.haihuilai.com/assets/loading-03e623306a6f7d8124f97a7d2cce724a1dcef110fed66a2dd4cd77e9d06d5081.gif" alt="Loading 03e623306a6f7d8124f97a7d2cce724a1dcef110fed66a2dd4cd77e9d06d5081" />
                </span>
            </div>

        </div>
    </div>
    <script>
  $(function(){
    ConsumerIndex.init({"service_areas":["德国","法国","瑞士","意大利"],"德国":[{"id":1452,"title":"柏林"},{"id":1443,"title":"法兰克福"},{"id":1446,"title":"汉堡"},{"id":1444,"title":"科隆"},{"id":1442,"title":"慕尼黑"},{"id":1447,"title":"斯图加特"}],"法国":[{"id":1343,"title":"巴黎"},{"id":1349,"title":"波尔多"},{"id":1345,"title":"里昂"},{"id":1346,"title":"马赛"},{"id":1344,"title":"尼斯"}],"瑞士":[{"id":1175,"title":"日内瓦"},{"id":1172,"title":"苏黎世"},{"id":1174,"title":"因特拉肯"}],"意大利":[{"id":1225,"title":"佛罗伦萨"},{"id":1224,"title":"罗马"},{"id":1226,"title":"米兰"},{"id":1227,"title":"那不勒斯"},{"id":1223,"title":"威尼斯"}]});
  });
    </script>

    <div class='foot_bg'>
        <div class='foot_content container container-width'>
            <div class='row'>
                <p class='contact_info'>
                    <span class='qicon-foot-customer-service'></span>
                    <span class='qicon-foot-mail'></span>
                </p>
                <p class='company_info'>
                    <span>北京趣玩贝科技有限公司 版权所有</span>
                    <span>Copyright ©2015-2016 Haihuilai.com All Rights Reserved</span>
                    <span>
                        <a href='http://www.miitbeian.gov.cn/' target='_blank'>京ICP备15039413号-1</a>
                    </span>
                    <span>京ICP证160073号</span>
                    <span>京公网安备11010502027514</span>
                </p>
            </div>
        </div>
    </div>

</body>
</html>
<script>
  $(function(){
    QwbFooter.init();
  });
</script>
