<style>
    [view-title=接送机] select {
        width: 97%;
        background: #fff url(images/arrowd2.png) no-repeat 95% center;
        margin-left: 3%;
        height: 28px;
        font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
        font-size: 16px;
    }

    .air_booking .nav_link ul li {
        border-top: none;
    }

    .air_booking .nav_link {
        overflow: hidden;
    }

    .air_booking .displaynonecity {
        display: none;
    }
    
    .air_booking .pane,.air_booking.pane {
    background-color: #f2f4f3;
    }
</style>
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="接送机" class="air_booking">
    <ion-content class="stable-bg2">
        <div class="header headtall">
            <div id="navigation" class="touchcarousel navtall">
                <div class="background backgroundblack">
                    <a href="#/app/index2"><img class="arrow" src="images/arrow2w.png" /></a>
                    <h1 class="n_title whitefont">接送机</h1>
                </div>
            </div>
            <div class="nav_link">
                <ul>
                    <li id="new1" style="cursor:pointer;background:none repeat #f2f4f3;color:#01d4c1;" ng-click="pick()">
                        <p class="car_btn car_btn_left">接机</p>
                    </li>
                    <li id="new2" style="cursor:pointer;background:none repeat #f2f4f3;color:#b1b1b1;" ng-click="send()">
                        <p class="car_btn">送机</p>
                    </li>
                </ul>
            </div>
        </div>

        <!--接机 -->
        <div class="index_wrap tall_wrap">
            <div id="tbx1" class="car_search_wrap" style="display:block;background-color:#f2f4f3">
                <p class="car_toptitle"><span>用车信息</span></p>
                <div class="car_serach">
                    <div class="car_search_toptitle">用车地域</div>
                    <select name="date" ng-change="change(x)" ng-model="x">
                        <option value="">请选择</option>
                        <option value="{{x.id}}" ng-repeat="x in zones">{{x.name}}</option>
                    </select>
                </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle pickcity">降落城市</span>
                    <cities-components></cities-components>
                </div>

                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle pickairport">降落机场</span>

                    <airport-components></airport-components>

                </div>

                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle pickdate">接机日期</span>
                    <div></div>
                    <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
                        <button class="button button-block button-positive mybuttondate" style="margin-left:10px"> {{ currentDate | date:'yyyy-MM-dd' }} </button>
                    </ionic-datepicker><span class="weekdayget"></span>

                </div>
                <div class="height8"></div>
                <div class="car_serach">

                    <span class="car_search_toptitle pickaddress">送达地点</span>

                    <a class="btn-select car_select">
                        <input id="inputendaddress" class="cur-select cur_car_select" ng-click="downsome()" ng-focus="displaybox($event)" ng-blur="displaynonebox($event)" ng-model="model3.endaddress" ng-change="changeaddress(model3.endaddress)">
                    </a>

                    <div id="endaddress" style="display:none;margin:0 3%;max-height:310px;overflow:hidden">
                        <div style="color:black;font-size:14px;max-height:70px;overflow:hidden" ng-repeat="x in endaddress">
                            <span ng-click="selectaddress2($event)" style="color:black;margin:0 3% 0 0">{{x.data}}</span>
                        </div>
                    </div>

                </div>
                <input class="button_green button_car" type="submit" ng-click="search()" value="立即搜索" name="button" />
                <img src="images/footer.png">
            </div>
        </div>
    </ion-content>
</ion-view>