<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="标准用车">
    <ion-content>
        <div class="header">
            <div id="navigation" class="touchcarousel">
                <div class="background">
                    <a href="#/app/air_booking"><img class="arrow" src="images/arrow2.png" /></a>
                    <h1 class="n_title">车型推荐</h1>
                </div>
            </div>
        </div>
        <div class="index_wrap">
            <div id="accordion">
                <!--<div class="car_list_type">经济车型组</div>-->
                <!--<div class="panel">
                    <div class="panel-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-click="toogledown()">
                            <img class="car_list_img" src="images/KIA_K5.jpg">
                            <div class="car_list_name">
                                <h1>5座舒适</h1>
                                <p class="car_list_info">KIA K5 等同等车型</p>
                                <p class="car_list_info">
                                    <span><img class="car_list_ico" src="images/carren.png">2</span>
                                    <span><img class="car_list_ico" src="images/xingli.png">3</span>
                                </p>
                                <p class="car_list_price">RMB<span class="price_com">2900</span>起</p>
                                <p class="car_list_btn">选择服务<img class="car_list_ico2" src="images/arrowd.png"></p>
                            </div>
                        </a>
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne">
                        <div class="panel-body">
                            <div class="car_service_item">
                                <h1 class="car_service_title">中文司机</h1>
                                <p>具备合格的驾驶技能和最基本的沟通能力，能满足基本的用车需求。</p>
                                <p class="text_small">
                                    ·1年以上从业经验<br />
                                    ·3年以上驾龄<br />
                                    ·出产8年内车辆<br />
                                    ·合法居留<br />
                                    ·第三者乘客险<br />
                                    ·驾驶技能
                                </p>
                                <p class="car_service_offer">车内配置<span>纸巾</span><span>雨伞</span><span>车载充电器</span></p>
                                <p class="car_service_price">总计<span class="price_com">4470.0</span>RMB</p>
                                <a class="car_service_btn" href="#">下单</a>
                            </div>
                            <div class="car_service_item">
                                <h1 class="car_service_title">标准专业司导</h1>
                                <p>具备熟练的驾驶技能和讲解经验, 能为行程提供良好的车导服务。</p>
                                <p class="text_small">
                                    ·3年以上从业经验<br />
                                    ·5年以上驾龄<br />
                                    ·出产8年以内车辆<br />
                                    ·合法居留<br />
                                    ·第三者乘客险<br />
                                    ·熟知当地人文<br />
                                    ·当地语言熟练<br />
                                    ·两个以上同业推荐
                                </p>
                                <p class="car_service_offer">车内配置<span>纸巾</span><span>雨伞</span><span>矿泉水</span></p>
                                <p class="car_service_price">总计<span class="price_com">4768.0</span>RMB</p>
                                <a class="car_service_btn" href="#">下单</a>
                            </div>
                        </div>
                    </div>
                </div>-->

                    <div class="panel" ng-repeat="x in car_categories">
                        <div class="car_list_type">{{x.group}}</div>
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" ng-click="toogledown($event)">
                                <img style="width:68px;height:60px" class="car_list_img" src="http://www.haihuilai.com{{x.brand_img}}">
                                <div class="car_list_name">
                                    <h1>{{x.name}}</h1>
                                    <p class="car_list_info">{{x.brand}} 等同等车型</p>
                                    <p class="car_list_info">
                                        <span><img class="car_list_ico" src="images/carren.png">{{x.max_seats}}</span>
                                        <span><img class="car_list_ico" src="images/xingli.png">{{x.max_bag}}</span>
                                    </p>
                                    <p class="car_list_price">RMB<span class="price_com">{{x.total_price}}</span>起</p>
                                    <p class="car_list_btn">选择服务<img class="car_list_ico2" src="images/arrowd.png"></p>
                                </div>
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="collapseThree">
                            <div class="panel-body">
                                <div class="car_service_item">
                                    <h1 class="car_service_title">{{x.driver_category_name}}</h1>
                                    <p>具备合格的驾驶技能和最基本的沟通能力，能满足基本的用车需求。</p>
                                    <p class="text_small">
                                        ·1年以上从业经验<br />
                                        ·3年以上驾龄<br />
                                        ·出产8年内车辆<br />
                                        ·合法居留<br />
                                        ·第三者乘客险<br />
                                        ·驾驶技能
                                    </p>
                                    <p class="car_service_offer">车内配置<span>纸巾</span><span>雨伞</span><span>车载充电器</span></p>
                                    <p class="car_service_price">总计<span class="price_com">{{x.total_price}}</span>RMB</p>

                                    <span ng-show="false">{{x.brand}}</span>
                                    <span ng-show="false">{{x.name}}</span>
                                    <span ng-show="false">{{x.driver_category_name}}</span>
                                    <span ng-show="false">{{x.total_price}}</span>
                                    <span ng-show="false">{{x.id}}</span>
                                    <a class="car_service_btn" ng-click="ordernow($event)">下单</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </ion-content>
</ion-view>