<style>
    [view-title=标准用车] select {
        width: 97%;
        background: #fff url(images/arrowd2.png) no-repeat 95% center;
        margin-left: 3%;
        height: 28px;
        font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
        font-size: 16px;
    }
    
</style>
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="标准用车">
    <ion-content class="boxcarsearch">
        <div class="header headtall">
            <div id="navigation" class="touchcarousel navtall">
                <div class="background">
                    <a href="#/app/carsearch"><img class="arrow" src="images/arrow2.png" /></a>
                    <h1 class="n_title">标准用车</h1>
                </div>
            </div>
            <div class="nav_link" id="new">
                <ul>
                    <li id="new1" style="cursor:pointer;background:none repeat #fff;color:#01d4c1;" onclick="secBoard(1)">
                        <p class="car_btn car_btn_left">单地用车</p>
                    </li>
                    <li id="new2" style="cursor:pointer;background:none repeat #fff;color:#b1b1b1;" onclick="secBoard(2)">
                        <p class="car_btn">多地用车</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="index_wrap tall_wrap">
            <div id="tbx1" class="car_search_wrap" style="display:block">
                <p class="car_toptitle"><span>用车信息</span></p>
                <div class="car_serach">
                    <div class="car_search_toptitle">用车地域</div>
                    <select id="date" name="date" ng-change="change(x)" ng-model="x">
                        <option value="">请选择</option>
                        <option value="{{x.id}}" ng-repeat="x in zones">{{x.name}}</option>
                    </select>
                </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle">开始用车</span>
                    <div></div>
                    <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
                        <button class="button button-block button-positive mybuttondate" style="margin-left:10px"> {{ currentDate | date:'yyyy-MM-dd' }} <span class="weekdayget"></span></button>
                    </ionic-datepicker>
                    <!--<div class="ion-datetime-picker"></div>-->
                    </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle">结束用车</span>
                    <div></div>
                    <ionic-datepicker date="currentDate2" min="minDate2" max="maxDate2" callback="datePickerCallback2">
                        <button class="button button-block button-positive mybuttondate" style="margin-left:10px"> {{ currentDate2 | date:'yyyy-MM-dd' }} <span class="weekdayget"></span></button>
                    </ionic-datepicker>
                </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle">用车城市</span>
                    <a class="btn-select car_select" id="btn_select">
                        <input id="inputcity" class="cur-select cur_car_select" onfocus="myfocus(this)" onblur="myblur(this)" ng-model="wcity">
                    </a>

                    <div id="secondcities" style="display:none;margin:0 3%;max-height:310px;overflow:hidden">
                        <hr />
                        <p style="font-weight:bold;">热门城市列表 可输入城市中文/全拼</p>
                        <div style="color:#9B9B9B;font-size:14px;max-height:70px;overflow:hidden" ng-repeat="x in areas">
                            <div ng-hide="wcity">{{x.name}}</div>
                            <span ng-click="selectcity($event)" style="color:black;margin:0 3% 0 0" ng-repeat="xx in x.cities|filter:wcity">{{xx.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="height8"></div>
                <hr class="hr_car">
                <input id="button" class="button_green button_car" type="submit" onclick="window.open('carlist.html')" value="立即搜索" name="button"></input>
            </div>
            <div id="tbx2" class="car_search_wrap" style="display:none">
                <p class="car_toptitle"><span>用车信息</span></p>
                <div class="car_serach">
                    <span class="car_search_toptitle">用车地域</span>
                    <a class="btn-select car_select" id="btn_select">
                        <span class="cur-select cur_car_select">欧洲大陆</span>
                        <select id="date" name="date">
                            <option value="日本">日本</option>
                            <option value="中国-港台">中国-港台</option>
                            <option value="欧洲大陆">欧洲大陆</option>
                            <option value="韩国">韩国</option>
                            <option value="欧洲非大陆">欧洲非大陆</option>
                            <option value="北美地区">北美地区</option>
                            <option value="大洋洲">大洋洲</option>
                            <option value="亚洲大陆">亚洲大陆</option>
                            <option value="印尼">印尼</option>
                        </select>
                    </a>
                </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle">开始日期</span>
                    <a class="btn-select car_select" id="btn_select">
                        <span class="cur-select cur_car_select">2016-06-29</span>
                        <select id="date" name="date">
                            <option value="2016-06-29">2016-06-29</option>
                        </select>
                    </a>
                </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle">开始城市</span>
                    <a class="btn-select car_select" id="btn_select">
                        <span class="cur-select cur_car_select">柏林</span>
                        <select id="date" name="date">
                            <option value="柏林">柏林</option>
                            <option value="中国-港台">中国-港台</option>
                            <option value="欧洲大陆">欧洲大陆</option>
                            <option value="韩国">韩国</option>
                            <option value="欧洲非大陆">欧洲非大陆</option>
                            <option value="北美地区">北美地区</option>
                            <option value="大洋洲">大洋洲</option>
                            <option value="亚洲大陆">亚洲大陆</option>
                            <option value="印尼">印尼</option>
                        </select>
                    </a>
                </div>
                <div class="height8"></div>
                <div class="car_toptitle"><span>行程路线（当天结束城市）</span></div>
                <div class="car_serach">
                    <span class="car_search_left">DAY 1</span>
                    <span class="car_search_toptitle left_move">2016-06-29</span>
                    <a class="btn-select car_select_left" id="btn_select">
                        <span class="cur-select cur_car_select">柏林</span>
                        <select id="date" name="date">
                            <option value="柏林">柏林</option>
                        </select>
                    </a>
                </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_left">DAY 2</span>
                    <span class="car_search_toptitle left_move">2016-06-30</span>
                    <a class="btn-select car_select_left" id="btn_select">
                        <span class="cur-select cur_car_select">柏林</span>
                        <select id="date" name="date">
                            <option value="柏林">柏林</option>
                        </select>
                    </a>
                </div>
                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_left">DAY 3</span>
                    <span class="car_search_toptitle left_move">2016-07-01</span>
                    <a class="btn-select car_select_left" id="btn_select">
                        <span class="cur-select cur_car_select">柏林</span>
                        <select id="date" name="date">
                            <option value="柏林">柏林</option>
                        </select>
                    </a>
                </div>
                <div class="height8"></div>
                <input id="button" class="button_green button_car" type="submit" onclick="window.open('#')" value="+ 添加日程" name="button" />
                <hr class="hr_car">
                <input id="button" class="button_green button_car" type="submit" onclick="window.open('carlist.html')" value="立即搜索" name="button" />
            </div>


        </div>
    </ion-content>
</ion-view>