<style>
    [view-title=标准用车] select {
        width: 97%;
        background: #fff url(images/arrowd2.png) no-repeat 95% center;
        margin-left: 3%;
        height: 28px;
        font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
        font-size: 16px;
    }

    .carsearch .nav_link ul li {
        border-top: none;
    }

    .carsearch .nav_link {
        overflow: hidden;
    }

    .carsearch .displaynonecity {
        display: none;
    }

    .carsearch .displayblock {
        display: block !important;
    }

    .carsearch.pane, .carsearch .pane {
        background-color: #f2f4f3;
    }

    /*variocities-components {
        display: none;
    }*/

    .citydistancetip {
        margin-left: 5%;
        font-size: 1.3rem;
        color: gray;
    }

    .carsearch .displaynone {
        display: none;
    }

    /* Chrome浏览器 */
    ::-webkit-input-placeholder {
        padding-left: 4%;
    }

    /* 火狐浏览器 */
    ::-moz-placeholder {
        padding-left: 4%;
    }
</style>
<ion-view hide-nav-bar="true">
</ion-view>
<ion-view view-title="标准用车" class="carsearch">

    <div id="navigation" class="touchcarousel navtall">
        <div class="background backgroundblack">
            <a href="#/app/index2"><img class="arrow" src="images/arrow2w.png" /></a>
            <h1 class="n_title whitefont">标准用车</h1>
        </div>
    </div>

    <ion-content class="stable-bg2"  delegate-handle="mainScroll">

        <div class="header headtall">

            <div id="navigation" class="touchcarousel navtall">
                <div class="background backgroundblack">
                    <a href="#/app/index2"><img class="arrow" src="images/arrow2w.png" /></a>
                    <h1 class="n_title whitefont">标准用车</h1>
                </div>
            </div>

            <div class="nav_link" id="new">
                <ul>
                    <li id="new1" style="cursor:pointer;background:none repeat #f2f4f3;color:#01d4c1;" ng-click="solo()">
                        <p class="car_btn car_btn_left">单地用车</p>
                    </li>
                    <li id="new2" style="cursor:pointer;background:none repeat #f2f4f3;color:#b1b1b1;" ng-click="various()">
                        <p class="car_btn">多地用车</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="index_wrap tall_wrap">
            <div id="tbx1" class="car_search_wrap" style="display:block">
                <p class="car_toptitle"><span>用车信息</span></p>
                <div class="car_serach">
                    <div class="car_search_toptitle">用车地域</div>
                    <select name="date" ng-change="change(x)" ng-model="x">
                        <option class="inittext" value="">正在加载...</option>
                        <option value="{{x.id}}" ng-repeat="x in zones">{{x.name}}</option>
                    </select>
                </div>
                <div class="height8"></div>
                <div class="car_serach" style="padding:4px 0">
                    <span class="car_search_toptitle">开始用车</span>
                    <div></div>
                    <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
                        <button class="button button-block button-positive mybuttondate" style="margin-left:10px"> {{ currentDate | date:'yyyy-MM-dd' }} </button>
                    </ionic-datepicker><span class="weekdayget"></span>

                </div>
                <div class="height8"></div>
                <div class="car_serach endcartime" style="padding:4px 0">
                    <span class="car_search_toptitle">结束用车</span>
                    <div></div>
                    <ionic-datepicker date="currentDate2" min="minDate2" max="maxDate2" callback="datePickerCallback2">
                        <button class="button button-block button-positive mybuttondate" style="margin-left:10px"> {{ currentDate2 | date:'yyyy-MM-dd' }} </button>
                    </ionic-datepicker><span class="weekdayget"></span>
                </div>

                <div class="height8"></div>
                <div class="car_serach">
                    <span class="car_search_toptitle">用车城市</span>
                    <cities-components></cities-components>
                </div>

                <div class="carline" style="display:none">
                    <p class="car_toptitle"><span>行程路线(当天结束城市)</span></p>
                    <div class="carlinedetail" style="display:block">
                    </div>
                </div>

                <input id="buttonadddate" class="button_green button_car displaynone" type="submit" ng-click="adddate()" value="＋ 添加日程" name="button">

                <div class="height8"></div>
                <hr class="hr_car">
                <input id="button" class="button_green button_car" type="submit" ng-click="search()" value="立即搜索" name="button">

                <div style="height:0px"></div>
            </div>
        </div>
    </ion-content>
</ion-view>